@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&display=swap");
* {
  box-sizing: border-box;
}

/* Mobile first approach */
body {
  min-width: 300px;
  margin: 0 auto; /* Center align once max-width is reached */
  padding: 5px 10px;
  background-color: #ffffff;
  display: grid;
  grid-template-areas:
    "top"
    "hero"
    "boxes"
    "info"
    "bottom";
}
header {
  grid-area: top;
  background-color: rgb(255, 255, 255);
}

section#boxes {
  grid-area: boxes;
  background-color: rgb(253, 250, 250);
  margin: auto;
  padding: 5px;
}
}


.slogan {
  text-align: center;
}
.row-2 {
  text-align: center;
}
h1 {
  font-family: "Permanent Marker";
  font-weight: 800;
  color: #0a3641;
}
h2 {
  font-family: "Permanent Marker";
  font-weight: 500;
  color: #0a3641;
}

header {
  grid-area: top;
  background-color: #ffffff (163, 97, 31);
}
section#hero {
  grid-area: hero;
  background-color: rgb(255, 255, 255);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  color: white;
  background-color: rgb(236, 0, 0);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  background-color: #0a3641;
}



header {
  margin: 5px 0;
  position: relative;
}

header img#logo {
  height: 42px;
}

nav {
  display: none; /* By default hide the menu */
}

#hamburger-menu {
  display: none; /* Hide checkbox */
}

#hamburger-menu:checked ~ nav {
  display: block; /* Display nav block when checkbox is checked only */
}

label[for="hamburger-menu"] {
  font-size: 2em;
  position: absolute; 
  right: 0px;
  top: 10px;
}


header nav ul {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
}
header nav ul li {
  margin-bottom: 2px;
  float: left;
}

header nav ul li a {
  text-decoration: none;
  color: rgb(5, 5, 5);
  background: rgb(255, 255, 255);
  padding: 5px 5px;
  display: block;
  text-align: center;
  font-size: 1.5em;
}
header nav ul li:last-child {
  margin-bottom: 0;
}

section#hero {
  position: relative;
}

section#hero img {
  width: 100%;
}

section#hero > div.center {
  position: absolute;
  width: 240px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  bottom: 48px;
  left: 20px;
}

section#info > h2 {
  margin-top: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
button {
  border: none;
  background-color: black;
  color:white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  cursor: pointer;
  font-family: 'gilroy', sans-serif;
  font-size: large;
}
section#boxes { 
  text-align: center;
}

.footer-container {
  background-color: #212329;
  padding: 4rem;
}

.footer {
  width: 80%;
  height: 40vh;
  background-color: #eceef3;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
  color: #fff;
}
.footer-heading h3 {
  font-family: Arial, Helvetica, sans-serif;
}
.footer-heading a {
  color: #fff;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  
}
.footer-email-form {
  color: #fff;
}






/* For mid sized screens */
@media (min-width: 640px) {
  
  header img#logo {
    height: 72px;
  }
  label[for="hamburger-menu"] {
    display: none;
  }
  header nav {
    display: block;
    position: absolute;
    right: 0px;
    top: 20px;
  }
  header nav ul {
    list-style-type: none; /**/
    display: inline-block; /**/
    padding-left: 0; /**/
  }
  header nav li {
    float: left; /**/
    margin-right: 10px; /**/
    background-color: #000; /**/
  }
  header nav li a {
    text-decoration: none; /**/
    width: 120px; /**/
    display: inline-block; /**/
    color: #fff; /**/
    padding: 2px 5px; /**/
    text-align: center; /**/
  }
  header nav li:last-child {
    margin-right: 0; /**/
  }

  section#boxes {
    background-color: rgb(253, 250, 250);
    max-width: 1440px;
    margin: auto;
  }
  section#info {
    max-width: 640px;
  }
  section#info > h2 {
    margin-top: 6px;
  }
  
  .card {
    display: inline-block;
    margin: auto;
    border-radius: 5%;
    margin-top: 20px;
  }
  
  
}

/* For wider screens */
@media (min-width: 1024px) {
  body {
    max-width: 1280px;
    grid-template-areas:
      "top    top    top    top"
      "hero   hero   hero   hero"
      "boxes   boxes  boxes  boxes"
      "bottom bottom bottom bottom";
  }
  
  section#hero {
    margin-bottom: 10px;
  }
  section#info {
    margin-right: 10px;
  }
  section#info > h2 {
    margin-top: 0;
  }
  .card {
    display: inline-block;
    margin: 20px;
    margin-bottom: 20px;
    border-radius: 5%;
    margin-top: 20px;
  }
  section#boxes {
    background-color: rgb(255, 255, 255);
    margin: auto;
  }
  .footer-container {
    width: 1280px;
    display: flex;
    margin: 0 auto;
  }
  
}
